{% extends 'layouts/base.html' %}
{% block content %}
            <div class="h4">Notification</div>

    <div class="row">
    {% for notification in notifications %}
        <div class="col-sm-12 m-4">
        <div class="card">
            <div class="card-body">
                <div class="blockquote">{{ notification.content}}</div>
                <div class="blockquote-footer">{{ notification.UPDATED_AT|date }}</div>
            </div>
        </div>

        </div>
    {% empty %}
    <p>No Notifications in this hood</p>
    {% endfor %}
    </div>

{% endblock %}